# R auxiliary files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Other files types

#---- LaTeX auxiliary files ----
*.bbl
*.bcf
*concordance.tex
*.lof
*.log
*.lot
*.run.xml
*.synctex.gz
*.toc
*.fff
*.ttt
*-tikzDictionary

Documents/Paper/figure/
Documents/Paper/cache/


# paper output
paper.tex
paper.pdf

# htlm output
*.html
*.docx
ball_*.png

#---- Bookdown Auxiliary ----

_bookdown_files
!docs/*.html
!docs/images/ball_*.png

#---- Project folders ----

# data_raw
Data/*.rds
Data/*.rda
!Data/data_ECR.rds

#---- old project ----
old/

# Mac auxiliary files
.DS_Store
